.blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.panel {
  width: 35vw;
  height: fit-content;
  background-color: white;
  border: 1px solid gray;
  border-radius: .75rem;
  overflow: hidden;
}

.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0 1rem;
  background-color: #F7F7F7;

  div {
    cursor: pointer;
  }

  div:hover {
    color:#E66360;
  }
}

.panel-content {
  padding: 1rem;
}

label {
  display: block;
}

form > input:last-of-type {
  display: block;
  margin-top: 1rem;
}

.validation-error {
  color: #cc2d24;
  font-size: 0.875rem;
}

.input-error {
  background-color: rgba(230, 99, 96, 0.2);
}

input {
  border-radius: 0.25rem;
}

input[type=text], input[type=tel], input[type=email] {
  padding: 0.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

@media (max-width: 480px) {
  .panel {
    width: 85vw;
    height: fit-content;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .panel {
    height: fit-content;
  };
}
