<app-add-member *ngIf="showMemberModal"
                [addGroupId]="groupId"
                [currentValue]="member"
                [isEdit]="edit"
                (modalClose)="hideMemberModal()"></app-add-member>
<app-confirmation *ngIf="showDeleteModal"
                  [panelHeader]="deleteHeader"
                  [message]="deleteMessage"
                  (resolve)="resolveDelete($event)"></app-confirmation>
<section class="panel">
  <div class="member-info">
    <h2>{{ member.MemberName }}</h2>
    <p>Email: {{ member.MemberEmail }}</p>
    <p>Phone: {{ member.MemberPhone | phone}}</p>
  </div>
  <div class="buttons">
    <button (click)="editMember()">Edit Member</button>
    <button (click)="deleteMember()">Delete</button>
  </div>
</section>
