<app-add-member *ngIf="showMemberModal"
                [addGroupId]="groupId"
                [currentValue]="member"
                [isEdit]="edit"
                (modalClose)="hideMemberModal()"></app-add-member>
<app-confirmation *ngIf="showDeleteModal"
                  [panelHeader]="deleteHeader"
                  [message]="deleteMessage"
                  (resolve)="resolveDelete($event)"></app-confirmation>
<div class="panel">
  <div class="number">
    <div>
      {{ index }}
    </div>
  </div>
  <section class="panel-content">
    <div class="member-info">
      <p><em>Name:</em> {{ member.MemberName }}</p>
      <p><em>Email:</em> {{ member.MemberEmail }}</p>
      <p><em>Phone:</em> {{ member.MemberPhone | phone}}</p>
    </div>
    <div class="buttons">
      <button (click)="editMember()">Edit Member</button>
      <button (click)="deleteMember()">Delete</button>
    </div>
  </section>
</div>
