<div class="blur">
  <div class="panel fade-in">
    <div class="panel-header">
      <h2>{{ action }} Member</h2>
      <button (click)="exitModal()">Close</button>
    </div>
    <section class="panel-content">
      <form [formGroup]="memberForm">
        <label class="form-label-required" for="MemberName">Member Name</label>
        <input type="text"
               formControlName="MemberName"
               placeholder="Enter Name of Member here"
               [class.input-error]="!memberForm.controls['MemberName'].valid && memberForm.controls['MemberName'].touched">
        <div *ngIf="!memberForm.controls['MemberName'].valid && memberForm.controls['MemberName'].touched"
           class="validation-error">Provide a Member Name</div>
        <label class="form-label-required" for="MemberEmail">Member Email</label>
        <input type="email"
               formControlName="MemberEmail"
               placeholder="Enter Member Email here"
               [class.input-error]="!memberForm.controls['MemberEmail'].valid && memberForm.controls['MemberEmail'].touched">
        <div *ngIf="!memberForm.controls['MemberEmail'].valid && memberForm.controls['MemberEmail'].touched"
             class="validation-error">Provide a Member Email</div>
        <label class="form-label-required" for="MemberPhone">Member Phone Number</label>
        <input type="tel"
               formControlName="MemberPhone"
               placeholder="Enter Member Phone here"
               [class.input-error]="!memberForm.controls['MemberPhone'].valid && memberForm.controls['MemberPhone'].touched">
        <div *ngIf="!memberForm.controls['MemberPhone'].valid && memberForm.controls['MemberPhone'].touched"
             class="validation-error">Provide a Phone Number</div>
        <input type="submit"
               value="Submit Member"
               (click)="onSubmit()">
      </form>
    </section>
  </div>
</div>
