header {
  background-color: #869d7a;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

section {
  width: 20rem;
  border: 2px solid black;
  border-radius: .5rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
  overflow: hidden;
}

button {
  margin-top: 0.5rem;
}

div {
  padding: 1rem;
  background-color: white;
}
