ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  height: fit-content;
  display: flex;
  background-color: #222222;
}

ul > li {
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
  margin: auto 0;
}

ul > li:first-of-type {
  cursor: default;
}

li:hover > a {
  text-decoration: underline;
}

li > a {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;

}

.active {
  background-color: rgb(75, 75, 75);
  border-radius: .25rem;
  a {
    text-decoration: underline;
  }
}

img {
  max-width: 5.8rem;
}

ul > li:last-of-type {
  color: white;
  margin-left: auto;
  cursor: default;
}

button {
  margin-left: 1rem;
}

@media (max-width: 480px) {
  ul {
    flex-direction: column;
  }

  li > a {
    font-size: initial;
  }

  img {
    max-height: 2rem;
  }

  ul > li:last-of-type {
    flex: 0 1;
    order: -1;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .active {
    background-color: rgb(75, 75, 75);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  li > a {
    font-size: initial;
  }

  ul > li:last-of-type {
    text-align: center;
  }

  button {
    margin-left: auto;
  }


}


