ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  height: 2.25rem;
  display: flex;
  background-color: #222222;
  align-items: stretch;
}

ul > li {
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
}

li > a {
  color: white;
  text-decoration: none;

}

.active {
  background-color: #869d7a;
}


