.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #a7cdbd;
}

div > label {
  padding-right: 0.5rem;
}

.org-filter {
  display: flex;
  flex-direction: column;
}
