header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0.5rem 0;
}

p {
  color: #869d7a;
  font-weight: bold;
}

.no-avail {
  color: #E66360 !important;
}

div > button:last-of-type {
  margin-left: 1rem;
}

section {
  height: 100%;
}

.no-members {
  border: 2px solid gray;
  padding: 1rem;
  border-radius: .25rem;
  background-color: white;
  box-shadow: 40px 40px 100px 10px rgba(0,0,0,0.59);
}

.member-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

div > button:first-of-type {
  background-color: #869d7a;
  color: white;
}

.title > div {
  border-bottom: solid gray 1px;
}

li {
  list-style-position: inside;
}

@media (max-width: 481px) {
  h1, p {
    margin: .5rem 0;
  }

  div > button:last-of-type {
    margin: initial;
  }

  header {
    div.buttons {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;

      button:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .buttons {
    flex-grow: 1;
    display: flex;
  }

  button:first-of-type {
    margin-left: auto;
  }
}

