<app-loader *ngIf="isLoading"></app-loader>
<app-add-member *ngIf="showMemberModal"
                [addGroupId]="group?.GroupId"
                (modalClose)="hideMemberModal()"></app-add-member>
<app-add-charter *ngIf="showGroupModal"
                 [currentValue]="group"
                 (modalClose)="hideGroupModal()"></app-add-charter>
<section>
  <header>
    <h1>{{ group?.GroupName }}</h1>
    <p [class.no-avail]="isFull">{{ availMessage }}</p>
    <div>
      <button *ngIf="!isFull" (click)="addNewMember()">Add New Member</button>
      <button (click)="editGroup()">Edit Group</button>
    </div>
  </header>
  <app-member *ngFor="let member of group?.Members"
              [member]="member"
              [groupId]="group.GroupId"
              (reload)="reload()"></app-member>
</section>
