.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding-left: 1rem;
}

section {
  max-width: 25%;
  margin: 1rem;
}

@media (min-width: 481px) and  (max-width: 768px) {
  section {
    width: 33%;
    max-width: initial;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  section {
    width: 100%;
    max-width: initial;
    justify-content: center;
  }
}
