h1 {
  font-size: 24pt
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section {
  max-width: 25%;
  margin: 1rem;
}

@media (max-width: 444px) {
  section {
    width: 100%;
    max-width: initial;
    justify-content: center;
  }
}
